/* /////////////////////TESTING CUSTOM FONTS////////////// */
@font-face {
    font-family: "TitleFont";
    src: url(Wibbles-6awo.ttf);
  }



/* ////////////////////////////////////Main COmponents////////////// */
nav {
    background-color: rgb(243, 243, 243);
    margin-top: 3%; 
    margin-left: 3%; 
    margin-right: 3%; 
    padding-bottom: 1%;
    padding-top: 1%;
    height: 5em;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
   
    
}
body {
   /* background-color: #AFD3E2;  */
   /* background-color: #19A7CE;  */
      /* background-color: #146C94;   */
      background: rgb(21,87,114);
      background: linear-gradient(90deg, rgba(21,87,114,1) 0%, rgba(0,54,79,1) 50%, rgba(21,87,114,1) 100%);
}
datalist {
   background-color: blue; 
   position: absolute;
   border: 0 none;
   overflow-x: hidden;
   overflow-y: auto;
}

datalist option {
    font-size: 5em;
}


header{
    height: 20em;
    
    

}

h1{
    margin-top: 10%;
    font-size: 5em;  
    z-index: 2;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
}
.background {
    position: absolute;
    height: 20em;
    width: 20em;
    z-index: -1; 
}
.nav_logo {
    height: 6em;
    width: 6em;
    position: absolute;
    
}



.Nav_1 {
    position: absolute;
    margin-left: 15%;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}
.Nav_2 {
    position: absolute;
    margin-left: 30%;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}
.Nav_3 {
    position: absolute;
    margin-left: 45%;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}
.Nav_4 {
    position: absolute;
    margin-left: 60%;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}
.Nav_5 {
    position: absolute;
    margin-left: 75%;
    margin-top: 1em;
    border-style: none;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* ///////////////////////////////////////////////////////////////Hover Effects for nav bar/////////// */
.Nav_1:hover {
    text-decoration-line: underline;
}
.Nav_2:hover {
    text-decoration-line: underline;
}
.Nav_3:hover {
    text-decoration-line: underline;
}
.Nav_4:hover {
    text-decoration-line: underline;
}
.Nav_5:hover {
    text-decoration-line: underline;
}

/* ////////////////////////////////////////////Main Pages/////////////// */

.Main_Left {
    background-color: white;
    height: 500px;
    width: 500px;
    margin-left: 3%;
    margin-top: 10em;
    position: absolute;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
}

.Main_Right {
    background-color: white;
    height: 500px;
    width: 57em;
    margin-left: 35em;
    margin-top: 10em;
    position: absolute;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
}

h2{
    margin-left: 3%;
}
.article_P {
    margin-left: 3%;
}

.Main_Left_Foto {
    height: 450px;
    width: 450px;
    margin-left: 5%;
    margin-top: 1.5em;
}
.Shop_Button {
    padding: 12px;
    background-color: rgb(0, 119, 178);
    border-radius: 20px;
    margin-left: 3%;
    font-weight: bolder;
    color: white;
    text-decoration-line: none;
}
hr {
    color: black;
    border: none;
    background-color: black;
    height: 2px;
}

.Post_Date {
    margin-left: 85%;
    
}


/* ////////////////////////////////////////////////////////////////////////////////////7 */
@media only screen and (max-width: 1000px) {
    nav {
        background-color: rgb(243, 243, 243);
        margin-top: 3em; 
        margin-left: 3em; 
        margin-right: 3em; 
        padding-bottom: 1%;
        padding-top: 1%;
        height: 20em;
        width: 90em;
        box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);   
    }
    .Nav_1 {
       display: none;
    }
    .Nav_2 {
        display: none;
    }
    .Nav_3 {
        display: none;
    }
    .Nav_4 {
        display: none;
    }
    .Nav_5 {
        display: none; 
    }
    .nav_logo {
        height: 23em;
        width: 23em;
        position: absolute;
        
    }
    h1{
        margin-top: 10%;
        font-size: 125px;
        letter-spacing: 10px;  
    }
    header{
        height: 20%;
    }
    .Main_Left {
        background-color: white;
        height: 93em;
        width: 89em;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute;
        box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
    }
    
    .Main_Right {
        background-color: white;
        height: 40em;
        width: 1270px;
        margin-left: 3%;
        margin-top: 100em;
        position: absolute;
        box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
    }
    .Main_Left_Foto {
        height: 83em;
        width: 80em;
        margin-left: 5%;
        margin-top: 5%;
    }
}


 