/* /////////////////////TESTING CUSTOM FONTS////////////// */
* {
    margin: 0 auto;
    padding: 0 auto;
}


/* ////////////////////////////////////Main COmponents////////////// */
nav {
    background-color: rgb(243, 243, 243);
    margin-top: 3%; 
    margin-left: 3%; 
    margin-right: 3%; 
    padding-bottom: 1%;
    padding-top: 1%;
    height: 5em;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
   
    
}

body {
   /* background-color: #AFD3E2;  */
   /* background-color: #19A7CE;  */
      /* background-color: #146C94;   */
      background: rgb(21,87,114);
      background: linear-gradient(90deg, rgb(48, 166, 213) 0%, rgb(67, 130, 160) 50%, rgb(46, 159, 204) 100%);
}

header{
    height: 15em;
}

h1{
    margin-top: 10%;
    font-size: 5em;  
    z-index: 2;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
}
.background {
    position: absolute;
    height: 20em;
    width: 20em;
    z-index: -1; 
}
.nav_logo {
    height: 6em;
    width: 6em;
    position: absolute;
    
}



.Nav_1 {
    position: absolute;
    margin-left: 15%;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 2em;
}
.Nav_2 {
    position: absolute;
    margin-left: 30%;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 2em;
}
.Nav_3 {
    position: absolute;
    margin-left: 45%;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 2em;
}
.Nav_4 {
    position: absolute;
    margin-left: 60%;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 2em;
}
.Nav_5 {
    position: absolute;
    margin-left: 75%;
    border-style: none;
    font-size: x-large;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 2em;
}
/* ///////////////////////////////////////////////////////////////Hover Effects for nav bar/////////// */
.Nav_1:hover {
    text-decoration-line: underline;
}
.Nav_2:hover {
    text-decoration-line: underline;
}
.Nav_3:hover {
    text-decoration-line: underline;
}
.Nav_4:hover {
    text-decoration-line: underline;
}
.Nav_5:hover {
    text-decoration-line: underline;
}

/* ////////////////////////////////////////////Main Pages/////////////// */
.presentationPost {
    background-color: white;
    width: 90%;
    padding: 1em;
    margin-left: 4em;
    margin-top: 8em;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
    
}

h2{
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-top: 1em;
    margin-bottom: 2em;
}
.article_P {
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
}

.Main_Left_Foto {
    height: 450px;
    width: 450px;
    margin-left: 5%;
    margin-top: 1.5em;
}
.Shop_Button {
    display:inline-block;
    padding: 0.8em;
    background-color: rgb(0, 119, 178);
    border-radius: 20px;
    margin-left: 3%;
    font-weight: bolder;
    color: white;
    text-decoration-line: none;
    margin-top: 20em ;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    
}
hr {
    color: black;
    border: none;
    background-color: black;
    height: 2px;
}
footer {
    display: block;
    background-color: black;
    
    height: 10em;
    width: 94.92em;
    margin-top: 3em;
    

}
div {
    display: inline-block;
    color: white;
    margin-left: 10%;
    padding: 1em;
}
#divider{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(0, 119, 178);
    height: 25em;
    margin-top: 5em;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
}
#headPost{
    height: 2em;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(54, 64, 116);
}
.advertismentText{
    margin-left: 10em;
    padding: 0.5em;
}
.dividerIcon {
    height: 15em;
}
td {
    width: 23em;
}
table {
    margin-left: 18%;
}
.dividerTitle {
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-top: 1em;
    
}
/* ////////////////////////////////////////////////////////////////////////////////////7 */
@media only screen and (max-width: 1000px) {
    nav {
        background-color: rgb(243, 243, 243);
        margin-top: 3em; 
        margin-left: 3em; 
        margin-right: 3em; 
        padding-bottom: 1%;
        padding-top: 1%;
        height: 20em;
        width: 90em;
        box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);   
    }
    .Nav_1 {
       display: none;
    }
    .Nav_2 {
        display: none;
    }
    .Nav_3 {
        display: none;
    }
    .Nav_4 {
        display: none;
    }
    .Nav_5 {
        display: none; 
    }
    .nav_logo {
        height: 23em;
        width: 23em;
        position: absolute;
        
    }
    h1{
        margin-top: 10%;
        font-size: 125px;
        letter-spacing: 10px;  
    }
    header{
        height: 20%;
    }
    .Main_Left {
        background-color: white;
        height: 93em;
        width: 89em;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute;
        box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
    }
    
    .Main_Right {
        background-color: white;
        height: 40em;
        width: 1270px;
        margin-left: 3%;
        margin-top: 100em;
        position: absolute;
        box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.148);
    }
    .Main_Left_Foto {
        height: 83em;
        width: 80em;
        margin-left: 5%;
        margin-top: 5%;
    }
}


 